/* Andrew Phillips MiU 0212 */
/*
body, html {
	height: 100%;
}

body {
	font: 16px Helvetica, Sans-serif;
	color: #ffffff;
	/* background: url(../images/concrete9_small.jpg); 
}

#description p {
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
	background: #333;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: #fff;
}

#construction p {
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
	background: #333;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: #fff;
}

ul{
	list-style:none;
}

li{
	padding: 0 0 5px;
}

form{
	padding: 10px;
	background: none;
	-moz-border-radius: 10px;
	-webkit-appearance: none; 
	color: white;
	font-size: 18px;
}

fieldset{
	border: none;
}

header h1{
	margin-left: 5px;
	text-indent: -99999px;
	color: #fff;
	padding-top: 10px;
	width: 270px;
	height: 100px;
	background: url(../images/journeys_main.png) no-repeat top left;
}

header p{
	font-size: 18px;
	padding: 0;
	margin: auto;
}

#items a {
	text-decoration: none;
	color: #fff;
	background: #ff352f;
	padding: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
	text-align: center;
	display: block;
	width: 130px;
}

#container{
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
    /* background: #2e2e2e; 
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: black;
}

#content {
	/* background: #bac4d3; 
	padding: 5px
}

#browse {
	margin: 0 0 0 10px;
	padding: 10px 20px 20px;
	/* background: #2e2e2e; 
	background: #333;
	-moz-border-radius: 10px; 
	border-radius: 10px;
	color: #fff;
}

#browsecat {
	padding: 5px 10px;
	/* background: #ff352f; 
	background: #ff352f;
	color: #fff;
	border: 0;
	font-size: 18px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 55px;
	
}

#centerstage {
	margin: auto;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 50px;
	width: 285px;
	height: 80px;
}
*/ 
#centerstage{
	height: 145px;
	width: 281px;
	margin: 0 auto 20px;
	clear: both;
}


ul{
padding: 0;
list-style:none;
}
label.error{
	display:block; 
	margin: 10px 0; 
	color: #cc0000;
}
.prompt{
	color: #ccc;
	margin-left: 8px;
}

/*.ui-btn-up-b {
	background: #ff352f !important;
} */
.ui-btn-hover-b{
	background: #ff352f !important;
}
#scrapbookForm input, #scrapbookForm textarea{background: #fff}
/* #reset .ui-shadow{box-shadow: none !important;border: 1px solid #efefef;} */